Иззатов Эльшан Али-заде

# Лабораторная работа №6

## Библиотека pandas

**1**. Таблица moscow-buildings.csv содержит информацию о годах постройки жилых домов в Москве.

1) Загрузите базу данных moscow-buildings.csv и сохраните ее как df_build. Удалите из базы данных строки, в которых значения года постройки не указаны («н.д.»), а после превратите столбец house_year в числовой.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
from datetime import datetime  # Импортируем модуль для работы с датами

In [3]:
df_build = pd.read_csv('/content/drive/MyDrive/Программирование на языке Python/Lab_Python_6_PIM/moscow-buildings.csv')
df_build.head()

,area_id,full_address,city,address,street_prefix,street_name,building,house_id,area_name,house_year
0,2281084,г Москва п Загорье д.10,Москва,п Загорье д.10,п,Загорье,д.10,7569627,муниципальный округ Бирюлево Восточное,1968
1,2281084,г Москва п Загорье д.3,Москва,п Загорье д.3,п,Загорье,д.3,7569823,муниципальный округ Бирюлево Восточное,1964
2,2281084,г Москва п Загорье д.4,Москва,п Загорье д.4,п,Загорье,д.4,7569840,муниципальный округ Бирюлево Восточное,1972
3,2281084,г Москва п Загорье д.5,Москва,п Загорье д.5,п,Загорье,д.5,7569862,муниципальный округ Бирюлево Восточное,1963
4,2281084,г Москва п Загорье д.8,Москва,п Загорье д.8,п,Загорье,д.8,7569888,муниципальный округ Бирюлево Восточное,1963

In [ ]:
df_build = df_build[df_build["house_year"] != "н.д."]
df_build

,area_id,full_address,city,address,street_prefix,street_name,building,house_id,area_name,house_year
0,2281084,г Москва п Загорье д.10,Москва,п Загорье д.10,п,Загорье,д.10,7569627,муниципальный округ Бирюлево Восточное,1968
1,2281084,г Москва п Загорье д.3,Москва,п Загорье д.3,п,Загорье,д.3,7569823,муниципальный округ Бирюлево Восточное,1964
2,2281084,г Москва п Загорье д.4,Москва,п Загорье д.4,п,Загорье,д.4,7569840,муниципальный округ Бирюлево Восточное,1972
3,2281084,г Москва п Загорье д.5,Москва,п Загорье д.5,п,Загорье,д.5,7569862,муниципальный округ Бирюлево Восточное,1963
4,2281084,г Москва п Загорье д.8,Москва,п Загорье д.8,п,Загорье,д.8,7569888,муниципальный округ Бирюлево Восточное,1963
...,...,...,...,...,...,...,...,...,...,...
29349,2281107,г Москва ул Короленко д.7 кор.2,Москва,ул Короленко д.7 кор.2,ул,Короленко,д.7 кор.2,7630827,муниципальный округ Сокольники,1926
29361,2281107,г Москва ул Маленковская д.3,Москва,ул Маленковская д.3,ул,Маленковская,д.3,8280705,муниципальный округ Сокольники,1997
29398,2281107,г Москва ул Русаковская д.31,Москва,ул Русаковская д.31,ул,Русаковская,д.31,7550765,муниципальный округ Сокольники,2009
29427,2281107,г Москва ул Сокольническая Слободка д.3,Москва,ул Сокольническая Слободка д.3,ул,Сокольническая Слободка,д.3,8285714,муниципальный округ Сокольники,2005
29455,2281107,г Москва ул Шумкина д.11 кор.а,Москва,ул Шумкина д.11 кор.а,ул,Шумкина,д.11 кор.а,8476228,муниципальный округ Сокольники,2007

In [ ]:
newh = [int(i) for i in df_build["house_year"]]
df_build["house_year"]= newh
df_build.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26312 entries, 0 to 29455
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   area_id        26312 non-null  int64
 1   full_address   26312 non-null  object
 2   city           26312 non-null  object
 3   address        26312 non-null  object
 4   street_prefix  25828 non-null  object
 5   street_name    25827 non-null  object
 6   building       25828 non-null  object
 7   house_id       26312 non-null  int64
 8   area_name      26312 non-null  object
 9   house_year     26312 non-null  int64
dtypes: int64(3), object(7)
memory usage: 2.2+ MB

2) Посмотрите на минимальное и максимальное значения года постройки. Разумны ли они? Если нет, уберите из базы данных «странные» значения года постройки (оставьте данные о постройках с года основания Москвы до текущего года включительно). Подсчитайте количество удаленных записей.

In [ ]:
df_build["house_year"].value_counts()

house_year
1960    1044
1962    1012
1961     987
1963     972
1965     888
        ...
197        1
187        1
2995       1
168        1
3610       1
Name: count, Length: 189, dtype: int64

In [ ]:
# Получаем текущий год
current_year = datetime.now().year

In [ ]:
df_build = df_build[(df_build["house_year"] >= 1147) & (df_build["house_year"] <= current_year)]
df_build["house_year"].value_counts()

house_year
1960    1044
1962    1012
1961     987
1963     972
1965     888
        ...
1785       1
1753       1
1697       1
1273       1
1698       1
Name: count, Length: 166, dtype: int64

3) Выберите из базы данных строки, соответствующие Басманному району и сохраните их в базу basm_data.

In [ ]:
basm_data = df_build[df_build["area_name"] == "муниципальный округ Басманный"]
basm_data

,area_id,full_address,city,address,street_prefix,street_name,building,house_id,area_name,house_year
9303,2281050,г Москва б-р Покровский д.14/5,Москва,б-р Покровский д.14/5,б-р,Покровский,д.14/5,8104093,муниципальный округ Басманный,1927
9304,2281050,г Москва б-р Покровский д.14/6 строение 1,Москва,б-р Покровский д.14/6 строение 1,б-р,Покровский,д.14/6 строение 1,8104094,муниципальный округ Басманный,1915
9305,2281050,г Москва б-р Покровский д.16/10 строение 1,Москва,б-р Покровский д.16/10 строение 1,б-р,Покровский,д.16/10 строение 1,8104099,муниципальный округ Басманный,1860
9306,2281050,г Москва б-р Покровский д.16_18 строение 4_4А,Москва,б-р Покровский д.16_18 строение 4_4А,б-р,Покровский,д.16_18 строение 4_4А,8104106,муниципальный округ Басманный,1860
9307,2281050,г Москва б-р Покровский д.18/15 строение 2,Москва,б-р Покровский д.18/15 строение 2,б-р,Покровский,д.18/15 строение 2,8104113,муниципальный округ Басманный,1860
...,...,...,...,...,...,...,...,...,...,...
9994,2281050,г Москва ул Чаплыгина д.10/11 строение 3,Москва,ул Чаплыгина д.10/11 строение 3,ул,Чаплыгина,д.10/11 строение 3,8103910,муниципальный округ Басманный,1894
9995,2281050,г Москва ул Чаплыгина д.15 строение 5,Москва,ул Чаплыгина д.15 строение 5,ул,Чаплыгина,д.15 строение 5,8103913,муниципальный округ Басманный,1927
9996,2281050,г Москва ул Чаплыгина д.16,Москва,ул Чаплыгина д.16,ул,Чаплыгина,д.16,8090083,муниципальный округ Басманный,1955
9997,2281050,г Москва ул Чаплыгина д.1А строение 1,Москва,ул Чаплыгина д.1А строение 1,ул,Чаплыгина,д.1А строение 1,8103921,муниципальный округ Басманный,1900
9998,2281050,г Москва ул Чаплыгина д.8 строение 1,Москва,ул Чаплыгина д.8 строение 1,ул,Чаплыгина,д.8 строение 1,8103925,муниципальный округ Басманный,1898

4) Сгруппируйте данные в базе по районам и посмотрите, сколько домов в базе относятся к каждому району.

In [ ]:
data_grouped = df_build.groupby('area_name')['house_id'].count().reset_index()
data_grouped

                             area_name  house_id
0    муниципальный округ Академический       344
1     муниципальный округ Алексеевский       212
2     муниципальный округ Алтуфьевский       114
3            муниципальный округ Арбат       134
4         муниципальный округ Аэропорт       186
..                                 ...       ...
119   муниципальный округ Южное Тушино       320
120   муниципальный округ Южнопортовый       200
121       муниципальный округ Якиманка       105
122    муниципальный округ Ярославский       177
123        муниципальный округ Ясенево       152

[124 rows x 2 columns]

In [ ]:
data_grouped['house_id'].sum()

np.int64(26289)

In [ ]:
len(df_build['house_id'].unique())

26289

5) Найдите средний возраст дома (возраст – в годах, считаем от текущего года) по каждому району. Подсказка: сначала добавьте переменную house_age («возраст дома»).

In [ ]:
df_build["house_age"] = 2025 - df_build["house_year"]
df_build.head()

<ipython-input-14-e545ad0cf242>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_build["house_age"] = 2025 - df_build["house_year"]

,area_id,full_address,city,address,street_prefix,street_name,building,house_id,area_name,house_year,house_age
0,2281084,г Москва п Загорье д.10,Москва,п Загорье д.10,п,Загорье,д.10,7569627,муниципальный округ Бирюлево Восточное,1968,57
1,2281084,г Москва п Загорье д.3,Москва,п Загорье д.3,п,Загорье,д.3,7569823,муниципальный округ Бирюлево Восточное,1964,61
2,2281084,г Москва п Загорье д.4,Москва,п Загорье д.4,п,Загорье,д.4,7569840,муниципальный округ Бирюлево Восточное,1972,53
3,2281084,г Москва п Загорье д.5,Москва,п Загорье д.5,п,Загорье,д.5,7569862,муниципальный округ Бирюлево Восточное,1963,62
4,2281084,г Москва п Загорье д.8,Москва,п Загорье д.8,п,Загорье,д.8,7569888,муниципальный округ Бирюлево Восточное,1963,62

In [ ]:
data_grouped = df_build.groupby('area_name')['house_age'].agg(['mean', 'count']).reset_index()
data_grouped

                             area_name       mean  count
0    муниципальный округ Академический  59.683140    344
1     муниципальный округ Алексеевский  62.155660    212
2     муниципальный округ Алтуфьевский  53.280702    114
3            муниципальный округ Арбат  94.462687    134
4         муниципальный округ Аэропорт  62.102151    186
..                                 ...        ...    ...
119   муниципальный округ Южное Тушино  55.471875    320
120   муниципальный округ Южнопортовый  62.095000    200
121       муниципальный округ Якиманка  76.533333    105
122    муниципальный округ Ярославский  53.028249    177
123        муниципальный округ Ясенево  44.664474    152

[124 rows x 3 columns]

6) Найдите самый старый дом и выведите информацию о нем.

In [ ]:
oldest_house = df_build[df_build['house_age'] == df_build['house_age'].max()]
oldest_house

,area_id,full_address,city,address,street_prefix,street_name,building,house_id,area_name,house_year,house_age
22433,2281124,г Зеленоград д.811,Зеленоград,д.811,NaN,NaN,NaN,7742576,муниципальный округ Старое Крюково,1273,752

**2.** Загрузите таблицу titanic.csv и найдите ответы на следующие вопросы. Если ответ нужно приводить в процентах, то это должно быть число в интервале от 0 до 100, округленное до двух знаков, знак процента не нужен.  

1) Посчитайте долю выживших пассажиров.

In [ ]:
df_titanic = pd.read_csv('/content/drive/MyDrive/Программирование на языке Python/Lab_Python_6_PIM/titanic.csv')
df_titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
Survived = (df_titanic["Survived"]==1).sum()/(df_titanic["Survived"]).count()*100
print("Доля выживших пассажиров составила: ", round(Survived,2))

Доля выживших пассажиров составила:  38.38

2) Какое количество мужчин и женщин ехало на корабле? Определите долю выживших женщин и выживших мужчин.

In [ ]:
count_men = (df_titanic["Sex"] == "male").sum()
count_women = (df_titanic["Sex"] == "female").sum()
print("Количество мужчин на корабле всего: ", count_men)
print("Количество мужчин на корабле всего: ", count_women)
count_survived_men = ((df_titanic["Survived"]==1)&(df_titanic["Sex"] == "male")).sum()/count_men*100
count_survived_women = ((df_titanic["Survived"]==1)&(df_titanic["Sex"] == "female")).sum()/count_women*100
print("Доля выживших мужчин на корабле: ",round(count_survived_women,2))
print("Доля выживших женщин на корабле: ",round(count_survived_men,2))

Количество мужчин на корабле всего:  577
Количество мужчин на корабле всего:  314
Доля выживших мужчин на корабле:  74.2
Доля выживших женщин на корабле:  18.89

3) Какую долю пассажиры первого, второго и третьего классов составляли среди всех пассажиров? Определите долю выживших пассажиров каждого класса.

In [ ]:
a = df_titanic["Pclass"].unique()
total_people = df_titanic["Pclass"].count()
print(sorted(a))
for i in sorted(a):
    print(f"Доля пассажиров {i} класса составила: ", round((df_titanic["Pclass"] == i).sum()/total_people*100,2))

for i in sorted(a):
    print(f"Доля выживших пассажиров {i} класса составила: ", round(((df_titanic["Survived"]==1)&(df_titanic["Pclass"] == i)).sum()/(df_titanic["Pclass"] == i).sum()*100,2))

#first_class = (df_titanic["Pclass"] == 1).sum()/total_people*100
#second_class = (df_titanic["Pclass"] == 2).sum()/total_people*100
#third_class = (df_titanic["Pclass"] == 3).sum()/total_people*100

#Survived_first_class = ((df_titanic["Survived"]==1)&(df_titanic["Pclass"] == 1)).sum()/(df_titanic["Pclass"] == 1).sum()*100
#Survived_second_class = ((df_titanic["Survived"]==1)&(df_titanic["Pclass"] == 2)).sum()/(df_titanic["Pclass"] == 2).sum()*100
#Survived_third_class = ((df_titanic["Survived"]==1)&(df_titanic["Pclass"] == 3)).sum()/(df_titanic["Pclass"] == 3).sum()*100

#print("Доля пассажиров первого класса составила: ", round(first_class,2))
#print("Доля пассажиров второго класса составила: ", round(second_class,2))
#print("Доля пассажиров третьего класса составила: ", round(third_class,2))

#print("Доля пассажиров первого класса составила: ", round(Survived_first_class,2))
#print("Доля пассажиров второго класса составила: ", round(Survived_second_class,2))
#print("Доля пассажиров третьего класса составила: ", round(Survived_third_class,2))

[np.int64(1), np.int64(2), np.int64(3)]
Доля пассажиров 1 класса составила:  24.24
Доля пассажиров 2 класса составила:  20.65
Доля пассажиров 3 класса составила:  55.11
Доля выживших пассажиров 1 класса составила:  62.96
Доля выживших пассажиров 2 класса составила:  47.28
Доля выживших пассажиров 3 класса составила:  24.24

4) Посчитайте среднее и медиану возраста пассажиров. Посчитайте среднее и медиану возраста выживших и невыживших пассажиров.

In [ ]:
#a = df_titanic.groupby('Age').agg(['mean', 'median']).head() # среднее и медиана
#

# dfdate = df_titanic.groupby('Survived')['Age']
# dfdate.head()

mean_age = df_titanic["Age"].mean()
median_age = df_titanic["Age"].median()

mean_age_survied = df_titanic[df_titanic["Survived"] == 1]["Age"].mean().round()
median_age_survied  = df_titanic[df_titanic["Survived"] == 1]["Age"].median()

mean_age_unsurvied = df_titanic[df_titanic["Survived"] == 0]["Age"].mean().round()
median_age_unsurvied  = df_titanic[df_titanic["Survived"] == 0]["Age"].median()
print("Средний возраст пассажиров: ", round(mean_age,2))
print("Медианное значение возраста пассажиров: ", round(median_age,2))
print("Средний возраст выживших пассажиров: ", mean_age_survied)
print("Медианное значение возраста выживших пассажиров: ", median_age_survied)
print("Средний возраст невыживших пассажиров: ", mean_age_unsurvied)
print("Медианное значение возраста невыживших пассажиров: ", median_age_unsurvied)

Средний возраст пассажиров:  29.7
Медианное значение возраста пассажиров:  28.0
Средний возраст выживших пассажиров:  28.0
Медианное значение возраста выживших пассажиров:  28.0
Средний возраст невыживших пассажиров:  31.0
Медианное значение возраста невыживших пассажиров:  28.0

5) Добавьте столбцы FirstNameList с именем пассажира. Обратите внимание, что встречается разный формат хранения имен, в том числе существуют отличия для мужчин и женщин. Имя может быть составное (из нескольких имен) - рассмотрите оба варианта - составное имя целиком и составное имя как отдельные имена. Какое самое популярное женское имя на корабле? Какое самое популярное мужское имя на корабле? У замужних женщин имя берём в скобках

In [ ]:
import pandas as pd
import re
df_titanic["Appeal"] = df_titanic["Name"].str.extract(r",\s*([A-Za-z.]+\s*[A-Za-z]+)\.")
df_titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Appeal
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Rev
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Miss
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Miss
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Mr
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Mr

In [ ]:
# Разделение имени
split_names = df_titanic["Name"].str.split(",", n=1, expand=True)

# Новая функция извлечения женских имен из скобок
def extract_female_name(name_str):
    # Ищем содержимое скобок
    name_in_brackets = re.search(r"\((.*?)\)", name_str)
    if not name_in_brackets:
        return None

    full_name = name_in_brackets.group(1).strip()
    words = full_name.split()

    if not words:
        return None
    # Берем все слова кроме последнего (если слов больше 1)
    return ' '.join(words[:-1]) if len(words) > 1 else words[0]

# Для женщин: применяем новую функцию к Mrs и другим обращениям
df_titanic.loc[df_titanic["Sex"] == "female", "FirstNameList"] = split_names.loc[df_titanic["Sex"] == "female", 1].apply(
    lambda x: extract_female_name(x) if pd.notnull(x) and "(" in x else
             x.split(".", 1)[1].strip() if pd.notnull(x) else None)

# Для мужчин: оставляем прежнюю логику
df_titanic.loc[df_titanic["Sex"] == "male", "FirstNameList"] = split_names.loc[df_titanic["Sex"] == "male", 1].str.split(".", n=1, expand=True)[1].str.strip()

# Очистка имен
df_titanic["FirstNameList"] = df_titanic["FirstNameList"].str.replace(r'[^A-Za-z\s]', '', regex=True).str.strip()
df_titanic["FirstNameList"] = df_titanic["FirstNameList"].apply(
    lambda x: ' '.join([word for word in x.split() if len(word) > 2]) if pd.notnull(x) else x)

# Проверка результата
df_titanic[["Name", "Sex", "Appeal", "FirstNameList"]].head(20)

,Name,Sex,Appeal,FirstNameList
0,"Braund, Mr. Owen Harris",male,Mr,Owen Harris
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,Mrs,Florence Briggs
2,"Heikkinen, Miss. Laina",female,Miss,Laina
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,Mrs,Lily May
4,"Allen, Mr. William Henry",male,Mr,William Henry
5,"Moran, Mr. James",male,Mr,James
6,"McCarthy, Mr. Timothy J",male,Mr,Timothy
7,"Palsson, Master. Gosta Leonard",male,Master,Gosta Leonard
8,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,Mrs,Elisabeth Vilhelmina
9,"Nasser, Mrs. Nicholas (Adele Achem)",female,Mrs,Adele
10,"Sandstrom, Miss. Marguerite Rut",female,Miss,Marguerite Rut
11,"Bonnell, Miss. Elizabeth",female,Miss,Elizabeth
12,"Saundercock, Mr. William Henry",male,Mr,William Henry
13,"Andersson, Mr. Anders Johan",male,Mr,Anders Johan
14,"Vestrom, Miss. Hulda Amanda Adolfina",female,Miss,Hulda Amanda Adolfina
15,"Hewlett, Mrs. (Mary D Kingcome)",female,Mrs,Mary
16,"Rice, Master. Eugene",male,Master,Eugene
17,"Williams, Mr. Charles Eugene",male,Mr,Charles Eugene
18,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,Mrs,Emelia Maria
19,"Masselmani, Mrs. Fatima",female,Mrs,Fatima

In [ ]:
# Разделение на женские и мужские данные
female_names = df_titanic[df_titanic["Sex"] == "female"]["FirstNameList"]
male_names = df_titanic[df_titanic["Sex"] == "male"]["FirstNameList"]

# Функция для подсчета частот имен
def count_names(names):
    all_names = names.dropna().str.split(expand=True).stack()
    name_counts = all_names.value_counts()
    return name_counts

# Подсчет частот отдельных имен
female_name_counts = count_names(female_names)
male_name_counts = count_names(male_names)

# Функция для подсчета частот составных имен
def count_full_names(names):
    full_name_counts = names.dropna().value_counts()
    return full_name_counts

# Подсчет частот составных имен
female_full_name_counts = count_full_names(female_names)
male_full_name_counts = count_full_names(male_names)

# Получение самых популярных имен с количеством
most_popular_female = (female_name_counts.idxmax(), female_name_counts.max())
most_popular_male = (male_name_counts.idxmax(), male_name_counts.max())
most_popular_female_full = (female_full_name_counts.idxmax(), female_full_name_counts.max())
most_popular_male_full = (male_full_name_counts.idxmax(), male_full_name_counts.max())

# Вывод результатов с количеством
print("САМЫЕ ПОПУЛЯРНЫЕ ИМЕНА:")
print(f"Женское имя (отдельные): {most_popular_female[0]} ({most_popular_female[1]} пассажиров)")
print(f"Женское составное имя: {most_popular_female_full[0]} ({most_popular_female_full[1]} пассажиров)")
print(f"Мужское имя (отдельные): {most_popular_male[0]} ({most_popular_male[1]} пассажиров)")
print(f"Мужское составное имя: {most_popular_male_full[0]} ({most_popular_male_full[1]} пассажиров)")

САМЫЕ ПОПУЛЯРНЫЕ ИМЕНА:
Женское имя (отдельные): Mary (20 пассажиров)
Женское составное имя: Mary (11 пассажиров)
Мужское имя (отдельные): William (49 пассажиров)
Мужское составное имя: John (10 пассажиров)

6) Приведите список уникальных (неповторяющихся, только один человек имеет это имя) имен пассажиров, отдельно мужских и женских. Рассмотрите оба варианта - составное имя целиком и составное имя как отдельные имена. Выведите таблицу с этими пассажирами.

In [ ]:
# Функция для проверки уникальности имени
def is_unique_name(name, sex, df):
    count = len(df[(df['FirstNameList'] == name) & (df['Sex'] == sex)])
    return count == 1

# Разделение имен на составные и отдельные
df_titanic['IsCompoundName'] = df_titanic['FirstNameList'].apply(
    lambda x: len(x.split()) > 1 if pd.notnull(x) else False)

# Нахождение уникальных имен
male_compound = []
female_compound = []
male_single = []
female_single = []

for _, row in df_titanic.iterrows():
    if pd.notnull(row['FirstNameList']):
        if is_unique_name(row['FirstNameList'], row['Sex'], df_titanic):
            if row['IsCompoundName']:
                if row['Sex'] == 'male':
                    male_compound.append(row['FirstNameList'])
                else:
                    female_compound.append(row['FirstNameList'])
            else:
                if row['Sex'] == 'male':
                    male_single.append(row['FirstNameList'])
                else:
                    female_single.append(row['FirstNameList'])

# Функция для красивого вывода
def print_names(title, names):
    print(f"\n=== {title} ({len(names)} имен) ===")
    for name in sorted(names):
        print(f"• {name}")

# Вывод результатов
print_names("УНИКАЛЬНЫЕ СОСТАВНЫЕ МУЖСКИЕ ИМЕНА", male_compound)
print_names("УНИКАЛЬНЫЕ СОСТАВНЫЕ ЖЕНСКИЕ ИМЕНА", female_compound)
print_names("УНИКАЛЬНЫЕ ОТДЕЛЬНЫЕ МУЖСКИЕ ИМЕНА", male_single)
print_names("УНИКАЛЬНЫЕ ОТДЕЛЬНЫЕ ЖЕНСКИЕ ИМЕНА", female_single)

=== УНИКАЛЬНЫЕ СОСТАВНЫЕ МУЖСКИЕ ИМЕНА (286 имен) ===
• Abraham David Lishin
• Adolf Mathias Nicolai Olsen
• Albert Adrian
• Albert Johan
• Alden Gates
• Alexander Oskar
• Alfred Fleming
• Alfred George John
• Alfred Ossian
• Algernon Henry Wilson
• Anders Johan
• Anders Vilhelm
• Andrew Andy
• Anthony Wood Archie
• Antti Gustaf
• Antti Wilhelm
• Archibald Willingham
• Arne Jonas
• Arthur Ernest
• Arthur Godfrey
• Arthur Jackson
• Arthur Webster
• Assad Alexander
• August Edvard Wennerstrom
• August Sigfrid
• August Viktor
• Austin Blyler
• Bengt Edvin
• Benjamin Laventall
• Berk Berk Trembisky
• Bertram Frank
• Bertram Vere
• Carl Olof
• CarlCharles Peter
• Charles Alexander
• Charles Duane
• Charles Edward
• Charles Eugene
• Charles Frederick Waddington
• Charles Hallace Rolmane
• Charles Joseph
• Charles Leonard
• Clarence Gustaf Hugo
• Claus Peter
• Cosmo Edmund Morgan
• Daniel Danielsen
• Daniel Warner
• David John
• David John Dai
• Domingos Fernandeo
• Douglas Bullen
• Eberhard Thelander
• Eden Leslie Neville
• Edgar Joseph
• Edgardo Samuel
• Edmond Roger
• Edvard Bengtsson
• Edvin Rojj Felix
• Edward Arthur
• Edward Austin
• Edward Gifford
• Edward Pennington
• Edward Pomeroy
• Edward Roland
• Edwin Nelson
• Edwy Arthur
• Eino Viljami
• Eino William
• Elmer Zebley
• Engelhart Cornelius
• Ennis Hastings
• Erik Gustaf
• Ernest Charles
• Ernest Courtenay
• Ernest James
• Ernest Portage
• Ernesti Arvid
• Ernst Adolf
• Ernst Gilbert
• Ernst Ulrik
• Ernst William
• Eugene Patrick
• Fahim Philip Zenni
• Farred Chehab
• Fletcher Fellows
• Francis Davis
• Francis Frank
• Francis William
• Frank John
• Frank John William Frankie
• Frans Olof
• Frederic Kimber
• Frederick Charles
• Frederick Edward
• Frederick James
• Frederick Maxfield
• Fridtjof Arne
• George Achilles
• George Edward
• George Floyd
• George George Arthur Brayton
• George Hugh
• George John
• George Quincy
• George Sibley
• Gosta Leonard
• Gurshon Gus
• Gustaf Hjalmar
• Gustaf Joel
• Halim Gonios William George
• Hanna Assi
• Hans Kristensen
• Hans Linus
• Hans Martin Monsen
• Hans Peder
• Harold Theodor
• Harold Victor
• Harry Elkins
• Harry Haven
• Harry Markland
• Henrik Juul
• Henry Birkhardt
• Henry Damsgaard
• Henry Forbes
• Henry Margido
• Henry Michael
• Henry Price
• Henry Samuel Henry Marshall
• Henry Sleeper
• Henry William
• Herbert Fuller
• Howard Hugh Harry
• Hudson Trevor
• Hugh Roscoe
• Iisakki Antino Aijo
• Ilmari Rudolf
• Ingvald Olai Olsen
• Jaako Arnold
• Jacob Christian
• Jacques Heath
• James Clinch
• James George
• James Robert
• Jan Baptist
• Jean Baptiste
• Johan Birger
• Johan Emil
• Johan Hansen
• Johan Henrik Johannesson
• Johan Julian
• Johan Svensson
• Johan Werner
• Johannes Halvorsen
• Johannes Joseph
• John Denzil
• John Fredrik Alexander
• John George
• John Hall Henry
• John Hatfield
• John Hugo
• John Irwin Irving
• John Montgomery
• John Morgan
• John Viktor
• John William
• Jose Neto
• Joseph Charles
• Joseph Philippe Lemercier
• Juha Niilo
• Karl Alfred
• Karl Edwart
• Karl Gideon
• Karl Howell
• Karl Ivar Sven
• Karl Johan
• Karl Siegwart Andreas
• Karl Thorsten
• Klas Albin
• Knud Paust
• Konrad Mathias Reiersen
• Kurt Arnold Gottfrid
• Leo Edmondus
• Leo Peter
• Leonard Charles
• Leonard Mark
• Lewis Richard
• Malkolm Joackim
• Manuel Estanslas
• Matti Alexanteri
• Mauritz Hakan
• Mauritz Nils Martin
• Michel Louis Hoffman
• Milton Clyde
• Moses Aaron
• Nassef Cassem
• Nestor Cyriel
• Niels Peder
• Nikolai Erland
• Nils August
• Nils Johan Goransson
• Nils Martin
• Norman Campbell
• Oberst Alfons
• Olaf Elon
• Ole Martin
• Oskar Arvid
• Owen George
• Owen Harris
• Pastcho Pentcho
• Paul Edvin
• Pehr Fabian Oliver Malkolm
• Pekka Pietari
• Percival James
• Percival Wayland
• Percy Andrew
• Peter Andreas Lauritz Andersen
• Peter David
• Peter Denis
• Peter Henry
• Quigg Edmond
• Rahamin Haim
• Reginald Charles
• Reginald Fenton
• Rene Aime
• Rene Jacques
• Richard Cater
• Richard Frasar
• Richard George
• Richard Henry
• Richard James
• Richard Leonard
• Richard William
• Robert Douglas
• Robert James
• Robert William Norman
• Robert Williams
• Rossmore Edward
• Samuel Beard
• Samuel James Hayden
• Selman Francis
• Sidney Leonard
• Sidney Samuel
• Sigurd Hansen
• Sigvard Harald Elias
• Spencer Victor
• Stanley George
• Stanley Hubert
• Stephen Curnow
• Stephen Weart
• Svend Lauritz
• Thomas Charles
• Thomas Clinton
• Thomas Drake Martinez
• Thomas Henry
• Thomas Joseph
• Thomas Leonard
• Thomas Roussel Davids
• Thomas Rowan
• Thomas William Solomon
• Thor Anderson
• Tyrell William
• Urho Abraham
• Victor Francis
• Victor Satode
• Viktor Richard
• Walter Chamberlain
• Walter Donald
• Walter James
• Washington Augustus
• William Alfred
• William Anderson
• William Arthur
• William Baird
• William Bertram
• William Cahoone
• William Edward
• William Ernest
• William Fisher
• William Frederick
• William Henry Marsh
• William John Robert
• William Loch William
• William Neal
• William Rowe
• William Thompson
• William Thornton

=== УНИКАЛЬНЫЕ СОСТАВНЫЕ ЖЕНСКИЕ ИМЕНА (155 имен) ===
• Ada Julia
• Ada Maria
• Ada Mary
• Adele Kiamie Jane
• Agda Thorilda Viktoria
• Agnes Charlotta
• Alfrida Konstantia
• Alice Adelaide
• Alice Elizabeth
• Alice Phoebe
• Alma Cornelia
• Amelia Mildred
• Amy Frances
• Amy Zillah Elsie
• Ann Elizabeth
• Anna Annie
• Anna Bernhardina
• Anna Katherine Annie Kate
• Anna Kristine
• Anna Sigrid Maria
• Anna Sophia
• Annie Clemmer
• Annie Jessie Nina
• Annie Louise
• Augusta Charlotta
• Augusta Maria
• Aurora Adelia
• Bessie Waldo
• Bridget Mary
• Brigdet Delia
• Carla Christine Nielsine
• Caroline Louise
• Catherine Helen Carrie
• Charlotte Annie
• Clara Jennings
• Clear Annie
• Constance Gladys
• Constance Mirium
• Doolina Margaret Daisy
• Dorothy Ann
• Dorothy Edith Dolly
• Ebba Iris Alfrida
• Edith Martha
• Edwina Celia Winnie
• Eleanor Ileen
• Elin Matilda
• Elisabeth Vilhelmina
• Elizabeth Bessie Inglis
• Elizabeth Catherine
• Elizabeth Margaret
• Elizabeth Mussey
• Ellen Natalia
• Ellis Anna Maria
• Elna Matilda
• Elsie Edith
• Emelia Maria
• Emily Alice
• Emily Borie
• Erna Alexandra
• Esther Ada
• Eva Miriam
• Florence Briggs
• Florence Fannie
• Florence Kate
• Florence Mary Agnes
• Georgette Alexandra
• Gerda Ulrika
• Gertrude Maybelle
• Grace Charity
• Gretchen Fiske
• Hanne Youssef
• Hanora Norah
• Hedwig Margaritha
• Helen Ellen
• Helen Loraine
• Helen Mary Ellie
• Helen Monypeny
• Helene Barbara
• Helene DeLaudeniere
• Helmina Josefina
• Hilda Mary
• Hulda Amanda Adolfina
• Ida Sofia
• Ida Sophia
• Imanita Parrish
• Ingeborg Constanzia
• Jane Anne
• Jean Gertrude
• Jessie Wills
• Johanna Hannah
• Johanna Persdotter
• Julie Rachel
• Juliet Cummins
• Juliette Marie Louise
• Katherine Kate
• Kornelia Theodosia
• Kristina Sofia
• Laura Mabel
• Leontine Pauline
• Lillian Amy
• Lillian Gertrud
• Lily Alexenia
• Lily May
• Lucile Polk
• Lucille Christiana
• Lucy Noel Martha
• Luise Gretchen
• Lulu Thorne
• Lyyli Karoliina
• Mabel Helen
• Madeleine Talmadge
• Madeleine Violet
• Margaret Ann
• Margaret Bechstein
• Margaret Delia
• Margaret Edith
• Margaret Jane
• Margaret Maggie
• Margaret Welles
• Margaretta Corning
• Margit Elizabeth
• Marguerite Rut
• Mari Aina
• Maria Emilia
• Maria Josefa Perez Soto
• Maria Mathilda
• Marian Longstreth
• Marie Catherine
• Marie Grice
• Marie Marthe
• Marion Elsie
• Marion Louise
• Marjorie Lottie
• Mary Agatha
• Mary Aline
• Mary Conover
• Mary Natalie
• Mathilde Francoise
• Mrs Kate Louise Phillips
• Phyllis May
• Pieta Sofia
• Robina Maggie Ruby
• Rosalie Paula
• Sara Rebecca
• Selma Augusta Emilia
• Sigrid Elisabeth
• Simonne Marie Anne Andree
• Stella Anna
• Stina Viola
• Susan Parker Suzette
• Sylvia Mae
• Telma Matilda
• Torborg Danira
• Virginia Ethel
• Wendla Maria

=== УНИКАЛЬНЫЕ ОТДЕЛЬНЫЕ МУЖСКИЕ ИМЕНА (150 имен) ===
• Achille
• Adola
• Adolphe
• Ahmed
• Alfons
• Alfonzo
• Ali
• Ambrose
• Amin
• Andre
• Andrew
• Anthony
• Antoni
• Apostolos
• August
• Austen
• Bernard
• Bernt
• Branko
• Carl
• Cerin
• Chang
• Choong
• Christo
• Denis
• Dibo
• Dickinson
• Edvard
• Einar
• Eiriik
• Elias
• Eliezer
• Emile
• Eric
• Erik
• Ernest
• Ervin
• Eugene
• Fang
• Fared
• Francesco
• Francisco
• Frank
• Gerios
• Guentcho
• Gustave
• Hammad
• Harald
• Harvey
• Herman
• Houssein
• Hugh
• Husein
• Ignjac
• Ilia
• Jacob
• Jakob
• Janko
• Jeremiah
• Jeso
• Johann
• Josef
• Jovan
• Jovo
• Jozef
• Juha
• Julian
• Juozas
• Kanio
• Khalil
• Kristo
• Len
• Leo
• Leon
• Leslie
• Lewis
• Lionel
• Liudevit
• Mansouer
• Mansour
• Manuel
• Marin
• Mark
• Masabumi
• Matthew
• Matti
• Max
• Maxmillian
• Meier
• Michel
• Milan
• Mile
• Minko
• Mito
• Mitto
• Mohamed
• Nakli
• Neal
• Nedelio
• Nicholas
• Nikola
• Olof
• Orsen
• Peju
• Penko
• Percival
• Petar
• Petco
• Peter
• Philemon
• Philip
• Phillippe
• Pierre
• Raihed
• Ramon
• Reginald
• Rene
• Ristiu
• Roger
• Sahid
• Sante
• Sarkis
• Satio
• Sebastiano
• Shadrach
• Simon
• Sinai
• Sleiman
• Stanio
• Stefo
• Stephen
• Stjepan
• Stoytcho
• Theodor
• Theodore
• Thornton
• Tido
• Todor
• Uscher
• Vasil
• Viljo
• Vincenz
• Walter
• Washington
• Wazli
• Wilhelm
• Wyckoff
• Yoto
• Youssef
• Yousseff

=== УНИКАЛЬНЫЕ ОТДЕЛЬНЫЕ ЖЕНСКИЕ ИМЕНА (84 имен) ===
• Ada
• Adele
• Agnes
• Albina
• Aloisia
• Amelie
• Anne
• Annie
• Asuncion
• Banoura
• Beila
• Bridget
• Catharina
• Charlotte
• Clara
• Cordelia
• Daisy
• Delia
• Edwiga
• Eliina
• Elina
• Elise
• Eliza
• Ellen
• Elsie
• Encarnacion
• Eugenie
• Farnham
• Fatima
• Gladys
• Hannah
• Harriet
• Hedwig
• Helen
• Helena
• Hildur
• Hileni
• Ida
• Irene
• Jamila
• Jeannie
• Jessie
• Joan
• Josefine
• Karolina
• Katie
• Katriina
• Laina
• Latifa
• Leah
• Leila
• Lilian
• Lillian
• Lucile
• Lucy
• Lutie
• Mabel
• Madeleine
• Malake
• Manca
• Mantoura
• Mara
• Margareth
• Maria
• Marie
• Marjorie
• Mathilde
• Matilda
• Miriam
• Myna
• Nora
• Nourelain
• Roberta
• Rosalie
• Ruth
• Saiide
• Sallie
• Selini
• Sultana
• Susan
• Thamine
• Tillie
• Velin
• Vera

7) Приведите множество всех имен пассажиров, отдельно мужских и женских. Рассмотрите оба варианта - составное имя целиком и составное имя как отдельные имена.

In [ ]:
# Разделение составных имен на отдельные
df_titanic["SingleNames"] = df_titanic["FirstNameList"].apply(lambda x: x.split() if pd.notnull(x) and len(x.split()) > 1 else [x])

# Создание множеств имен
male_compound_names = set(df_titanic[df_titanic['Sex'] == 'male']['FirstNameList'].dropna())
female_compound_names = set(df_titanic[df_titanic['Sex'] == 'female']['FirstNameList'].dropna())

male_single_names = set()
female_single_names = set()

for index, row in df_titanic.iterrows():
    if pd.notnull(row['FirstNameList']):
        for name in row['SingleNames']:
            if row['Sex'] == 'male':
                male_single_names.add(name)
            elif row['Sex'] == 'female':
                female_single_names.add(name)

# Вывод множеств
print("Мужские составные имена (целиком):")
print(sorted(male_compound_names))
print("\nМужские отдельные имена:")
print(sorted(male_single_names))

print("\nЖенские составные имена (целиком):")
print(sorted(female_compound_names))
print("\nЖенские отдельные имена:")
print(sorted(female_single_names))

Мужские составные имена (целиком):
['Abraham David Lishin', 'Achille', 'Adola', 'Adolf Mathias Nicolai Olsen', 'Adolphe', 'Ahmed', 'Albert', 'Albert Adrian', 'Albert Johan', 'Alden Gates', 'Alexander', 'Alexander Oskar', 'Alfons', 'Alfonzo', 'Alfred', 'Alfred Fleming', 'Alfred George John', 'Alfred Ossian', 'Algernon Henry Wilson', 'Ali', 'Ambrose', 'Amin', 'Anders Johan', 'Anders Vilhelm', 'Andre', 'Andrew', 'Andrew Andy', 'Anthony', 'Anthony Wood Archie', 'Antoni', 'Antti Gustaf', 'Antti Wilhelm', 'Apostolos', 'Archibald Willingham', 'Arne Jonas', 'Arthur', 'Arthur Ernest', 'Arthur Godfrey', 'Arthur Jackson', 'Arthur Webster', 'Assad Alexander', 'August', 'August Edvard Wennerstrom', 'August Sigfrid', 'August Viktor', 'Austen', 'Austin Blyler', 'Bengt Edvin', 'Benjamin', 'Benjamin Laventall', 'Berk Berk Trembisky', 'Bernard', 'Bernt', 'Bertram Frank', 'Bertram Vere', 'Branko', 'Carl', 'Carl Olof', 'CarlCharles Peter', 'Cerin', 'Chang', 'Charles', 'Charles Alexander', 'Charles Duane', 'Charles Edward', 'Charles Eugene', 'Charles Frederick Waddington', 'Charles Hallace Rolmane', 'Charles Henry', 'Charles Joseph', 'Charles Leonard', 'Choong', 'Christo', 'Clarence Gustaf Hugo', 'Claus Peter', 'Cosmo Edmund Morgan', 'Daniel', 'Daniel Danielsen', 'Daniel Warner', 'David', 'David John', 'David John Dai', 'Denis', 'Dibo', 'Dickinson', 'Domingos Fernandeo', 'Douglas Bullen', 'Eberhard Thelander', 'Eden Leslie Neville', 'Edgar Joseph', 'Edgardo Samuel', 'Edmond Roger', 'Edvard', 'Edvard Bengtsson', 'Edvin Rojj Felix', 'Edward', 'Edward Arthur', 'Edward Austin', 'Edward Gifford', 'Edward Pennington', 'Edward Pomeroy', 'Edward Roland', 'Edwin Nelson', 'Edwy Arthur', 'Einar', 'Eino Viljami', 'Eino William', 'Eiriik', 'Elias', 'Eliezer', 'Elmer Zebley', 'Emil', 'Emile', 'Engelhart Cornelius', 'Ennis Hastings', 'Eric', 'Erik', 'Erik Gustaf', 'Ernest', 'Ernest Charles', 'Ernest Courtenay', 'Ernest James', 'Ernest Portage', 'Ernesti Arvid', 'Ernst Adolf', 'Ernst Gilbert', 'Ernst Ulrik', 'Ernst William', 'Ervin', 'Eugene', 'Eugene Patrick', 'Fahim Philip Zenni', 'Fang', 'Fared', 'Farred Chehab', 'Fletcher Fellows', 'Francesco', 'Francis Davis', 'Francis Frank', 'Francis William', 'Francisco', 'Frank', 'Frank John', 'Frank John William Frankie', 'Frans Olof', 'Frederic Kimber', 'Frederick', 'Frederick Charles', 'Frederick Edward', 'Frederick James', 'Frederick Maxfield', 'Frederick William', 'Fridtjof Arne', 'George', 'George Achilles', 'George Edward', 'George Floyd', 'George George Arthur Brayton', 'George Henry', 'George Hugh', 'George John', 'George Quincy', 'George Sibley', 'Gerios', 'Gerious', 'Gosta Leonard', 'Guentcho', 'Gurshon Gus', 'Gustaf Hjalmar', 'Gustaf Joel', 'Gustave', 'Halim Gonios William George', 'Hammad', 'Hanna', 'Hanna Assi', 'Hans Kristensen', 'Hans Linus', 'Hans Martin Monsen', 'Hans Peder', 'Harald', 'Harold Theodor', 'Harold Victor', 'Harry', 'Harry Elkins', 'Harry Haven', 'Harry Markland', 'Harvey', 'Henrik Juul', 'Henry', 'Henry Birkhardt', 'Henry Damsgaard', 'Henry Forbes', 'Henry Margido', 'Henry Michael', 'Henry Price', 'Henry Samuel Henry Marshall', 'Henry Sleeper', 'Henry William', 'Herbert Fuller', 'Herman', 'Houssein', 'Howard Hugh Harry', 'Hudson Trevor', 'Hugh', 'Hugh Roscoe', 'Husein', 'Ignjac', 'Iisakki Antino Aijo', 'Ilia', 'Ilmari Rudolf', 'Ingvald Olai Olsen', 'Ivan', 'Jaako Arnold', 'Jacob', 'Jacob Christian', 'Jacques Heath', 'Jakob', 'Jakob Alfred', 'James', 'James Clinch', 'James George', 'James Robert', 'Jan Baptist', 'Janko', 'Jean Baptiste', 'Jeremiah', 'Jeso', 'Johan', 'Johan Birger', 'Johan Emil', 'Johan Hansen', 'Johan Henrik Johannesson', 'Johan Julian', 'Johan Svensson', 'Johan Werner', 'Johann', 'Johannes Halvorsen', 'Johannes Joseph', 'John', 'John Borland', 'John Denzil', 'John Fredrik Alexander', 'John George', 'John Hall Henry', 'John Hatfield', 'John Henry', 'John Hugo', 'John Irwin Irving', 'John Montgomery', 'John Morgan', 'John Viktor', 'John William', 'Jose Neto', 'Josef', 'Joseph', 'Joseph Charles', 'Joseph Philippe Lemercier', 'Jovan', 'Jovo', 'Jozef', 'Juha', 'Juha Niilo', 'Juho', 'Julian', 'Juozas', 'Kanio', 'Karl Alfred', 'Karl Edwart', 'Karl Gideon', 'Karl Howell', 'Karl Ivar Sven', 'Karl Johan', 'Karl Siegwart Andreas', 'Karl Thorsten', 'Khalil', 'Klas Albin', 'Knud Paust', 'Konrad Mathias Reiersen', 'Kristo', 'Kurt Arnold Gottfrid', 'Lalio', 'Lawrence', 'Lee', 'Len', 'Leo', 'Leo Edmondus', 'Leo Peter', 'Leon', 'Leonard Charles', 'Leonard Mark', 'Leslie', 'Lewis', 'Lewis Richard', 'Lionel', 'Liudevit', 'Luka', 'Malkolm Joackim', 'Mansouer', 'Mansour', 'Manuel', 'Manuel Estanslas', 'Marin', 'Mark', 'Martin', 'Masabumi', 'Matthew', 'Matti', 'Matti Alexanteri', 'Maurice', 'Mauritz Hakan', 'Mauritz Nils Martin', 'Max', 'Maxmillian', 'Meier', 'Michael', 'Michel', 'Michel Louis Hoffman', 'Milan', 'Mile', 'Milton Clyde', 'Minko', 'Mito', 'Mitto', 'Mohamed', 'Moses Aaron', 'Nakli', 'Nassef Cassem', 'Neal', 'Nedelio', 'Nestor Cyriel', 'Nicholas', 'Niels Peder', 'Nikola', 'Nikolai Erland', 'Nils August', 'Nils Johan Goransson', 'Nils Martin', 'Norman Campbell', 'Oberst Alfons', 'Olaf Elon', 'Ole Martin', 'Olof', 'Orsen', 'Oskar Arvid', 'Owen George', 'Owen Harris', 'Pastcho Pentcho', 'Patrick', 'Paul Edvin', 'Pehr Fabian Oliver Malkolm', 'Peju', 'Pekka Pietari', 'Penko', 'Percival', 'Percival James', 'Percival Wayland', 'Percy Andrew', 'Petar', 'Petco', 'Peter', 'Peter Andreas Lauritz Andersen', 'Peter David', 'Peter Denis', 'Peter Henry', 'Philemon', 'Philip', 'Phillippe', 'Pierre', 'Quigg Edmond', 'Rahamin Haim', 'Raihed', 'Ramon', 'Reginald', 'Reginald Charles', 'Reginald Fenton', 'Rene', 'Rene Aime', 'Rene Jacques', 'Richard', 'Richard Cater', 'Richard Frasar', 'Richard George', 'Richard Henry', 'Richard James', 'Richard Leonard', 'Richard William', 'Ristiu', 'Robert', 'Robert Douglas', 'Robert James', 'Robert William Norman', 'Robert Williams', 'Roger', 'Rossmore Edward', 'Sahid', 'Samuel', 'Samuel Beard', 'Samuel James Hayden', 'Sante', 'Sarkis', 'Satio', 'Sebastiano', 'Selman Francis', 'Shadrach', 'Sidney Leonard', 'Sidney Samuel', 'Sigurd Hansen', 'Sigvard Harald Elias', 'Simon', 'Sinai', 'Sleiman', 'Spencer Victor', 'Stanio', 'Stanley George', 'Stanley Hubert', 'Stefo', 'Stephen', 'Stephen Curnow', 'Stephen Weart', 'Stjepan', 'Stoytcho', 'Svend Lauritz', 'Tannous', 'Theodor', 'Theodore', 'Thomas', 'Thomas Charles', 'Thomas Clinton', 'Thomas Drake Martinez', 'Thomas Henry', 'Thomas Joseph', 'Thomas Leonard', 'Thomas Roussel Davids', 'Thomas Rowan', 'Thomas William Solomon', 'Thor Anderson', 'Thornton', 'Tido', 'Timothy', 'Todor', 'Tyrell William', 'Urho Abraham', 'Uscher', 'Vasil', 'Victor', 'Victor Francis', 'Victor Satode', 'Viktor Richard', 'Viljo', 'Vincenz', 'Walter', 'Walter Chamberlain', 'Walter Donald', 'Walter James', 'Washington', 'Washington Augustus', 'Wazli', 'Wilhelm', 'William', 'William Alfred', 'William Anderson', 'William Arthur', 'William Baird', 'William Bertram', 'William Cahoone', 'William Edward', 'William Ernest', 'William Fisher', 'William Frederick', 'William Henry', 'William Henry Marsh', 'William James', 'William John', 'William John Robert', 'William Loch William', 'William Neal', 'William Rowe', 'William Thomas', 'William Thompson', 'William Thornton', 'Wyckoff', 'Yoto', 'Youssef', 'Yousseff']

Мужские отдельные имена:
['Aaron', 'Abraham', 'Achille', 'Achilles', 'Adola', 'Adolf', 'Adolphe', 'Adrian', 'Ahmed', 'Aijo', 'Aime', 'Albert', 'Albin', 'Alden', 'Alexander', 'Alexanteri', 'Alfons', 'Alfonzo', 'Alfred', 'Algernon', 'Ali', 'Ambrose', 'Amin', 'Anders', 'Andersen', 'Anderson', 'Andre', 'Andreas', 'Andrew', 'Andy', 'Anthony', 'Antino', 'Antoni', 'Antti', 'Apostolos', 'Archibald', 'Archie', 'Arne', 'Arnold', 'Arthur', 'Arvid', 'Assad', 'Assi', 'August', 'Augustus', 'Austen', 'Austin', 'Baird', 'Baptist', 'Baptiste', 'Beard', 'Bengt', 'Bengtsson', 'Benjamin', 'Berk', 'Bernard', 'Bernt', 'Bertram', 'Birger', 'Birkhardt', 'Blyler', 'Borland', 'Branko', 'Brayton', 'Bullen', 'Cahoone', 'Campbell', 'Carl', 'CarlCharles', 'Cassem', 'Cater', 'Cerin', 'Chamberlain', 'Chang', 'Charles', 'Chehab', 'Choong', 'Christian', 'Christo', 'Clarence', 'Claus', 'Clinch', 'Clinton', 'Clyde', 'Cornelius', 'Cosmo', 'Courtenay', 'Curnow', 'Cyriel', 'Dai', 'Damsgaard', 'Daniel', 'Danielsen', 'David', 'Davids', 'Davis', 'Denis', 'Denzil', 'Dibo', 'Dickinson', 'Domingos', 'Donald', 'Douglas', 'Drake', 'Duane', 'Eberhard', 'Eden', 'Edgar', 'Edgardo', 'Edmond', 'Edmondus', 'Edmund', 'Edvard', 'Edvin', 'Edward', 'Edwart', 'Edwin', 'Edwy', 'Einar', 'Eino', 'Eiriik', 'Elias', 'Eliezer', 'Elkins', 'Elmer', 'Elon', 'Emil', 'Emile', 'Engelhart', 'Ennis', 'Eric', 'Erik', 'Erland', 'Ernest', 'Ernesti', 'Ernst', 'Ervin', 'Estanslas', 'Eugene', 'Fabian', 'Fahim', 'Fang', 'Fared', 'Farred', 'Felix', 'Fellows', 'Fenton', 'Fernandeo', 'Fisher', 'Fleming', 'Fletcher', 'Floyd', 'Forbes', 'Francesco', 'Francis', 'Francisco', 'Frank', 'Frankie', 'Frans', 'Frasar', 'Frederic', 'Frederick', 'Fredrik', 'Fridtjof', 'Fuller', 'Gates', 'George', 'Gerios', 'Gerious', 'Gideon', 'Gifford', 'Gilbert', 'Godfrey', 'Gonios', 'Goransson', 'Gosta', 'Gottfrid', 'Guentcho', 'Gurshon', 'Gus', 'Gustaf', 'Gustave', 'Haim', 'Hakan', 'Halim', 'Hall', 'Hallace', 'Halvorsen', 'Hammad', 'Hanna', 'Hans', 'Hansen', 'Harald', 'Harold', 'Harris', 'Harry', 'Harvey', 'Hastings', 'Hatfield', 'Haven', 'Hayden', 'Heath', 'Henrik', 'Henry', 'Herbert', 'Herman', 'Hjalmar', 'Hoffman', 'Houssein', 'Howard', 'Howell', 'Hubert', 'Hudson', 'Hugh', 'Hugo', 'Husein', 'Ignjac', 'Iisakki', 'Ilia', 'Ilmari', 'Ingvald', 'Irving', 'Irwin', 'Ivan', 'Ivar', 'Jaako', 'Jackson', 'Jacob', 'Jacques', 'Jakob', 'James', 'Jan', 'Janko', 'Jean', 'Jeremiah', 'Jeso', 'Joackim', 'Joel', 'Johan', 'Johann', 'Johannes', 'Johannesson', 'John', 'Jonas', 'Jose', 'Josef', 'Joseph', 'Jovan', 'Jovo', 'Jozef', 'Juha', 'Juho', 'Julian', 'Juozas', 'Juul', 'Kanio', 'Karl', 'Khalil', 'Kimber', 'Klas', 'Knud', 'Konrad', 'Kristensen', 'Kristo', 'Kurt', 'Lalio', 'Lauritz', 'Laventall', 'Lawrence', 'Lee', 'Lemercier', 'Len', 'Leo', 'Leon', 'Leonard', 'Leslie', 'Lewis', 'Linus', 'Lionel', 'Lishin', 'Liudevit', 'Loch', 'Louis', 'Luka', 'Malkolm', 'Mansouer', 'Mansour', 'Manuel', 'Margido', 'Marin', 'Mark', 'Markland', 'Marsh', 'Marshall', 'Martin', 'Martinez', 'Masabumi', 'Mathias', 'Matthew', 'Matti', 'Maurice', 'Mauritz', 'Max', 'Maxfield', 'Maxmillian', 'Meier', 'Michael', 'Michel', 'Milan', 'Mile', 'Milton', 'Minko', 'Mito', 'Mitto', 'Mohamed', 'Monsen', 'Montgomery', 'Morgan', 'Moses', 'Nakli', 'Nassef', 'Neal', 'Nedelio', 'Nelson', 'Nestor', 'Neto', 'Neville', 'Nicholas', 'Nicolai', 'Niels', 'Niilo', 'Nikola', 'Nikolai', 'Nils', 'Norman', 'Oberst', 'Olaf', 'Olai', 'Ole', 'Oliver', 'Olof', 'Olsen', 'Orsen', 'Oskar', 'Ossian', 'Owen', 'Pastcho', 'Patrick', 'Paul', 'Paust', 'Peder', 'Pehr', 'Peju', 'Pekka', 'Penko', 'Pennington', 'Pentcho', 'Percival', 'Percy', 'Petar', 'Petco', 'Peter', 'Philemon', 'Philip', 'Philippe', 'Phillippe', 'Pierre', 'Pietari', 'Pomeroy', 'Portage', 'Price', 'Quigg', 'Quincy', 'Rahamin', 'Raihed', 'Ramon', 'Reginald', 'Reiersen', 'Rene', 'Richard', 'Ristiu', 'Robert', 'Roger', 'Rojj', 'Roland', 'Rolmane', 'Roscoe', 'Rossmore', 'Roussel', 'Rowan', 'Rowe', 'Rudolf', 'Sahid', 'Samuel', 'Sante', 'Sarkis', 'Satio', 'Satode', 'Sebastiano', 'Selman', 'Shadrach', 'Sibley', 'Sidney', 'Siegwart', 'Sigfrid', 'Sigurd', 'Sigvard', 'Simon', 'Sinai', 'Sleeper', 'Sleiman', 'Solomon', 'Spencer', 'Stanio', 'Stanley', 'Stefo', 'Stephen', 'Stjepan', 'Stoytcho', 'Sven', 'Svend', 'Svensson', 'Tannous', 'Thelander', 'Theodor', 'Theodore', 'Thomas', 'Thompson', 'Thor', 'Thornton', 'Thorsten', 'Tido', 'Timothy', 'Todor', 'Trembisky', 'Trevor', 'Tyrell', 'Ulrik', 'Urho', 'Uscher', 'Vasil', 'Vere', 'Victor', 'Viktor', 'Vilhelm', 'Viljami', 'Viljo', 'Vincenz', 'Waddington', 'Walter', 'Warner', 'Washington', 'Wayland', 'Wazli', 'Weart', 'Webster', 'Wennerstrom', 'Werner', 'Wilhelm', 'William', 'Williams', 'Willingham', 'Wilson', 'Wood', 'Wyckoff', 'Yoto', 'Youssef', 'Yousseff', 'Zebley', 'Zenni']

Женские составные имена (целиком):
['Ada', 'Ada Julia', 'Ada Maria', 'Ada Mary', 'Adele', 'Adele Kiamie Jane', 'Agda Thorilda Viktoria', 'Agnes', 'Agnes Charlotta', 'Albina', 'Alfrida Konstantia', 'Alice', 'Alice Adelaide', 'Alice Elizabeth', 'Alice Phoebe', 'Alma Cornelia', 'Aloisia', 'Amelia', 'Amelia Mildred', 'Amelie', 'Amy Frances', 'Amy Zillah Elsie', 'Ann Elizabeth', 'Anna', 'Anna Annie', 'Anna Bernhardina', 'Anna Katherine Annie Kate', 'Anna Kristine', 'Anna Sigrid Maria', 'Anna Sofia', 'Anna Sophia', 'Anne', 'Annie', 'Annie Clemmer', 'Annie Jessie Nina', 'Annie Louise', 'Asuncion', 'Augusta', 'Augusta Charlotta', 'Augusta Maria', 'Aurora Adelia', 'Banoura', 'Beila', 'Bertha', 'Bessie Waldo', 'Bridget', 'Bridget Mary', 'Brigdet Delia', 'Carla Christine Nielsine', 'Caroline Louise', 'Catharina', 'Catherine', 'Catherine Helen Carrie', 'Charlotte', 'Charlotte Annie', 'Clara', 'Clara Jennings', 'Clear Annie', 'Constance Gladys', 'Constance Mirium', 'Cordelia', 'Daisy', 'Delia', 'Doolina Margaret Daisy', 'Dorothy Ann', 'Dorothy Edith Dolly', 'Ebba Iris Alfrida', 'Edith', 'Edith Martha', 'Edwiga', 'Edwina Celia Winnie', 'Eleanor Ileen', 'Eliina', 'Elin Matilda', 'Elina', 'Elisabeth Vilhelmina', 'Elisabeth Walton', 'Elise', 'Eliza', 'Elizabeth', 'Elizabeth Anne', 'Elizabeth Bessie Inglis', 'Elizabeth Catherine', 'Elizabeth Margaret', 'Elizabeth Mussey', 'Ellen', 'Ellen Natalia', 'Ellen Nellie', 'Ellis Anna Maria', 'Elna Matilda', 'Elsie', 'Elsie Edith', 'Emelia Maria', 'Emily', 'Emily Alice', 'Emily Borie', 'Emma', 'Encarnacion', 'Erna Alexandra', 'Esther Ada', 'Ethel', 'Eugenie', 'Eva Miriam', 'Farnham', 'Fatima', 'Florence Briggs', 'Florence Fannie', 'Florence Kate', 'Florence Mary Agnes', 'Georgette Alexandra', 'Gerda Ulrika', 'Gertrude Maybelle', 'Gladys', 'Grace Charity', 'Gretchen Fiske', 'Hannah', 'Hanne Youssef', 'Hanora Nora', 'Hanora Norah', 'Harriet', 'Hedwig', 'Hedwig Margaritha', 'Helen', 'Helen Ellen', 'Helen Loraine', 'Helen Mary Ellie', 'Helen Monypeny', 'Helena', 'Helene Barbara', 'Helene DeLaudeniere', 'Helmina Josefina', 'Hilda Mary', 'Hildur', 'Hileni', 'Hulda Amanda Adolfina', 'Ida', 'Ida Sofia', 'Ida Sophia', 'Imanita Parrish', 'Ingeborg Constanzia', 'Irene', 'Jamila', 'Jane', 'Jane Anne', 'Jean Gertrude', 'Jeannie', 'Jessie', 'Jessie Wills', 'Joan', 'Johanna Hannah', 'Johanna Persdotter', 'Josefine', 'Julie Rachel', 'Juliet Cummins', 'Juliette Marie Louise', 'Karolina', 'Kate', 'Katherine Kate', 'Katherine Katie', 'Katie', 'Katriina', 'Kornelia Theodosia', 'Kristina Sofia', 'Laina', 'Latifa', 'Laura Mabel', 'Leah', 'Leila', 'Leontine Pauline', 'Lilian', 'Lillian', 'Lillian Amy', 'Lillian Gertrud', 'Lily Alexenia', 'Lily May', 'Lucile', 'Lucile Polk', 'Lucille Christiana', 'Lucy', 'Lucy Noel Martha', 'Luise Gretchen', 'Lulu Thorne', 'Lutie', 'Lyyli Karoliina', 'Mabel', 'Mabel Helen', 'Madeleine', 'Madeleine Talmadge', 'Madeleine Violet', 'Malake', 'Manca', 'Mantoura', 'Mara', 'Margaret', 'Margaret Ann', 'Margaret Bechstein', 'Margaret Delia', 'Margaret Edith', 'Margaret Jane', 'Margaret Maggie', 'Margaret Welles', 'Margareth', 'Margaretta Corning', 'Margit Elizabeth', 'Marguerite Rut', 'Mari Aina', 'Maria', 'Maria Emilia', 'Maria Josefa Perez Soto', 'Maria Mathilda', 'Marian Longstreth', 'Marie', 'Marie Catherine', 'Marie Grice', 'Marie Marthe', 'Marija', 'Marion', 'Marion Elsie', 'Marion Louise', 'Marjorie', 'Marjorie Lottie', 'Martha', 'Mary', 'Mary Agatha', 'Mary Aline', 'Mary Conover', 'Mary Natalie', 'Mathilde', 'Mathilde Francoise', 'Matilda', 'Miriam', 'Mrs', 'Mrs Kate Louise Phillips', 'Myna', 'Nora', 'Nourelain', 'Phyllis May', 'Pieta Sofia', 'Roberta', 'Robina Maggie Ruby', 'Rosa', 'Rosalie', 'Rosalie Paula', 'Ruth', 'Saiide', 'Sallie', 'Sara Rebecca', 'Selini', 'Selma Augusta Emilia', 'Sigrid Elisabeth', 'Simonne Marie Anne Andree', 'Stella Anna', 'Stina Viola', 'Sultana', 'Susan', 'Susan Parker Suzette', 'Sylvia Mae', 'Telma Matilda', 'Thamine', 'Tillie', 'Torborg Danira', 'Velin', 'Vera', 'Virginia Ethel', 'Wendla Maria']

Женские отдельные имена:
['Ada', 'Adelaide', 'Adele', 'Adelia', 'Adolfina', 'Agatha', 'Agda', 'Agnes', 'Aina', 'Albina', 'Alexandra', 'Alexenia', 'Alfrida', 'Alice', 'Aline', 'Alma', 'Aloisia', 'Amanda', 'Amelia', 'Amelie', 'Amy', 'Andree', 'Ann', 'Anna', 'Anne', 'Annie', 'Asuncion', 'Augusta', 'Aurora', 'Banoura', 'Barbara', 'Bechstein', 'Beila', 'Bernhardina', 'Bertha', 'Bessie', 'Borie', 'Bridget', 'Brigdet', 'Briggs', 'Carla', 'Caroline', 'Carrie', 'Catharina', 'Catherine', 'Celia', 'Charity', 'Charlotta', 'Charlotte', 'Christiana', 'Christine', 'Clara', 'Clear', 'Clemmer', 'Conover', 'Constance', 'Constanzia', 'Cordelia', 'Cornelia', 'Corning', 'Cummins', 'Daisy', 'Danira', 'DeLaudeniere', 'Delia', 'Dolly', 'Doolina', 'Dorothy', 'Ebba', 'Edith', 'Edwiga', 'Edwina', 'Eleanor', 'Eliina', 'Elin', 'Elina', 'Elisabeth', 'Elise', 'Eliza', 'Elizabeth', 'Ellen', 'Ellie', 'Ellis', 'Elna', 'Elsie', 'Emelia', 'Emilia', 'Emily', 'Emma', 'Encarnacion', 'Erna', 'Esther', 'Ethel', 'Eugenie', 'Eva', 'Fannie', 'Farnham', 'Fatima', 'Fiske', 'Florence', 'Frances', 'Francoise', 'Georgette', 'Gerda', 'Gertrud', 'Gertrude', 'Gladys', 'Grace', 'Gretchen', 'Grice', 'Hannah', 'Hanne', 'Hanora', 'Harriet', 'Hedwig', 'Helen', 'Helena', 'Helene', 'Helmina', 'Hilda', 'Hildur', 'Hileni', 'Hulda', 'Ida', 'Ileen', 'Imanita', 'Ingeborg', 'Inglis', 'Irene', 'Iris', 'Jamila', 'Jane', 'Jean', 'Jeannie', 'Jennings', 'Jessie', 'Joan', 'Johanna', 'Josefa', 'Josefina', 'Josefine', 'Julia', 'Julie', 'Juliet', 'Juliette', 'Karoliina', 'Karolina', 'Kate', 'Katherine', 'Katie', 'Katriina', 'Kiamie', 'Konstantia', 'Kornelia', 'Kristina', 'Kristine', 'Laina', 'Latifa', 'Laura', 'Leah', 'Leila', 'Leontine', 'Lilian', 'Lillian', 'Lily', 'Longstreth', 'Loraine', 'Lottie', 'Louise', 'Lucile', 'Lucille', 'Lucy', 'Luise', 'Lulu', 'Lutie', 'Lyyli', 'Mabel', 'Madeleine', 'Mae', 'Maggie', 'Malake', 'Manca', 'Mantoura', 'Mara', 'Margaret', 'Margareth', 'Margaretta', 'Margaritha', 'Margit', 'Marguerite', 'Mari', 'Maria', 'Marian', 'Marie', 'Marija', 'Marion', 'Marjorie', 'Martha', 'Marthe', 'Mary', 'Mathilda', 'Mathilde', 'Matilda', 'May', 'Maybelle', 'Mildred', 'Miriam', 'Mirium', 'Monypeny', 'Mrs', 'Mussey', 'Myna', 'Natalia', 'Natalie', 'Nellie', 'Nielsine', 'Nina', 'Noel', 'Nora', 'Norah', 'Nourelain', 'Parker', 'Parrish', 'Paula', 'Pauline', 'Perez', 'Persdotter', 'Phillips', 'Phoebe', 'Phyllis', 'Pieta', 'Polk', 'Rachel', 'Rebecca', 'Roberta', 'Robina', 'Rosa', 'Rosalie', 'Ruby', 'Rut', 'Ruth', 'Saiide', 'Sallie', 'Sara', 'Selini', 'Selma', 'Sigrid', 'Simonne', 'Sofia', 'Sophia', 'Soto', 'Stella', 'Stina', 'Sultana', 'Susan', 'Suzette', 'Sylvia', 'Talmadge', 'Telma', 'Thamine', 'Theodosia', 'Thorilda', 'Thorne', 'Tillie', 'Torborg', 'Ulrika', 'Velin', 'Vera', 'Viktoria', 'Vilhelmina', 'Viola', 'Violet', 'Virginia', 'Waldo', 'Walton', 'Welles', 'Wendla', 'Wills', 'Winnie', 'Youssef', 'Zillah']

8) Приведите список имен, которые одновременно встречаются у мужчин, и у женщин. Решите задачу, если рассматривать составные имена как одно имя, и если рассматривать составные имена отдельно. Выведите таблицу пассажирами, имеющими эти имена.

In [ ]:
# Разделение составных имен на отдельные
df_titanic["SingleNames"] = df_titanic["FirstNameList"].apply(lambda x: x.split() if pd.notnull(x) and len(x.split()) > 1 else [x])

# Создание множеств имен для мужчин и женщин
male_names = set(df_titanic[df_titanic['Sex'] == 'male']['FirstNameList'].dropna())
female_names = set(df_titanic[df_titanic['Sex'] == 'female']['FirstNameList'].dropna())

# Имена, встречающиеся у мужчин и женщин (составные как одно имя)
common_compound_names = male_names.intersection(female_names)

# Имена, встречающиеся у мужчин и женщин (составные как отдельные имена)
male_single_names = set()
female_single_names = set()

for index, row in df_titanic.iterrows():
    if pd.notnull(row['FirstNameList']):
        for name in row['SingleNames']:
            if row['Sex'] == 'male':
                male_single_names.add(name)
            elif row['Sex'] == 'female':
                female_single_names.add(name)

common_single_names = male_single_names.intersection(female_single_names)

# Фильтрация пассажиров с общими именами
common_compound_passengers = df_titanic[df_titanic['FirstNameList'].isin(common_compound_names)]
common_single_passengers = df_titanic[df_titanic['SingleNames'].apply(lambda x: any(name in common_single_names for name in x))]

# Вывод таблиц
print("Пассажиры с общими именами (составные как одно имя):")
print(common_compound_passengers[['Name', 'Sex', 'FirstNameList']])

print("\nПассажиры с общими именами (составные как отдельные имена):")
print(common_single_passengers[['Name', 'Sex', 'FirstNameList']])

Пассажиры с общими именами (составные как одно имя):
Empty DataFrame
Columns: [Name, Sex, FirstNameList]
Index: []

Пассажиры с общими именами (составные как отдельные имена):
                                        Name     Sex  FirstNameList
48                       Samaan, Mr. Youssef    male        Youssef
255  Touma, Mrs. Darwis (Hanne Youssef Razi)  female  Hanne Youssef
329             Hippach, Miss. Jean Gertrude  female  Jean Gertrude
595              Van Impe, Mr. Jean Baptiste    male  Jean Baptiste